.bodyDiv{
    margin-left: -17%;
}

.body{
    margin-left: 16%;
}

.fieldset{
    margin-left: 20%; 
    margin-right: 3%;
}

.nome{
    width: 200%;
}

.divNome{
    float: left;
}

.dataNasc{
    width: 126%;
}

.rg{
    width: 140%;
}

.divRg{
    float: left;
    margin-left: 34%;
}

.cpf{
    width: 200%;
}

.divCpf{
    float: left;
}
.telefone1{
    width: 110%;
}

.divTelefone1{
    float: left;
    margin-left: 24.2%;
}

.telefone2{
    width: 140%;
}

.divTelefone2{
    float: left;
    margin-left: 7%;
}

.endereco{
    width: 200%;
}

.divEndereco{
    float: left;
}

.numero{
    width: 110%;
}

.divNumero{
    float: left;
    margin-left: 24.2%;
}

.bairro{
    width: 140%;
}

.divBairro{
    float: left;
    margin-left: 7%;
}

.divEndereco{
    float: left;
}

.divEstado{
    float: left;
}

.estado{
    width: 226%;
}
.divCidade{
    float: left;
    margin-left: 26.2%;
}
.cidade{
    width: 110%;
}
.divCep{
    float: left;
    margin-left: 7%;
}
.cep{
    width: 142%;
}

.e-mail{
    width: 200%;
}

.divEmail{
    float: left;
}
.divComentario{
    float: left;
    margin-left: 23.3%;
}

.comentario{
    width: 283%;
}